.bash_history
.bashrc_backup
.cache
.cert
.dbeaver4
.dmrc
Downloads
.emacs
.git
.gitconfig
.gnupg
.gtkrc-2.0
.ICEauthority
.icons
.java
.kde
.last-updated
.local
.mozilla
My-linux-configs
.pki
.profile
.ssh
Tech Resume - Google Docs.pdf
.themes
.vimrc
.Xauthority
.xsession-errors
.xsession-errors.old
