.bash_history
.bashrc_backup
.cache
.cert
cpp-exploitation
.dbeaver4
.dmrc
Downloads
.emacs
.gdb_history
.git
.gitconfig
.gitignore
.gnupg
.gtkrc-2.0
.ICEauthority
.icons
.java
.kde
.last-updated
.local
.mozilla
.pki
.profile
.ssh
Tech Resume - Google Docs.pdf
.themes
.vimrc
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
