akregatorrc
autostart
bleachbit
breezerc
caja
caja-actions
clipit
dconf
emaildefaults
enchant
geany
.gitignore
.gitkeep
google-chrome
gtk-2.0
gtk-3.0
i3
kactivitymanagerd-statsrc
katepartrc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcmdisplayrc
kcminputrc
kconf_updaterc
KDE
kded5rc
kdeglobals
kgammarc
kglobalshortcutsrc
khotkeysrc
klaunchrc
kscreenlockerrc
ksmserverrc
ksplashrc
kwalletrc
kwinrc
lxpanel
lxterminal
mate
mc
menus
mimeapps.list
nvim
openbox
pcmanfm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
pluma
polybar
pulse
startupconfig
teamviewer
touchpadrc
Trolltech.conf
user-dirs.locale
xfce4
